body{
    background-color:rgb(223, 223, 253);
}

.container{
    width:560px;
    background-color:rgb(241, 241, 245);
    box-sizing: border-box;
    margin-left:15%;
    margin-top:7%;
    border-radius:20px;
    display:grid;
    grid-template-columns: 330px 200px;
    grid-template-rows: 325px;

}

.image{
    width:405px;
    background-image: url(drawers.jpg);
    background-position: left center;
    background-size: cover;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}


.contents{
    background-color:rgb(255, 250, 250);
    width:500px;
    height:100%;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    display:grid;
    grid-template-rows: 0.1fr 0.3fr 1fr; 
    padding:none;
    margin:none;
}



.heading{
    width:420px;
    height:90px;
    font-optical-sizing: auto;
    font-weight:bold;
    font-size:large;
    margin-top:20px;
    margin-left:40px;
    letter-spacing:0px;
}

.main{
    width:420px;
    height:110px;
    margin-left:40px;
    font-weight:bolder;
    font-size:medium;
    font-optical-sizing: auto;
    font-family:"Noto Sans TC", sans-serif;
    word-spacing: 5px;

}

.status{
    width:420px;
    display:grid;
    grid-template-columns: 100px 150px 100px;
    column-gap: 3px;
    justify-content:start;
    margin-left:40px;
}

.avatar{
    height:70px;
    width:70px;
    margin-right:40px;
}

.avatar img{
    height:70px;
    width:70px;
    border-radius:100%;
}

.info{
    font-size:small;
    height:70px;
    margin-left:-20px;
    font-family:"Noto Sans TC", sans-serif;
    font-size:bold;
    display:grid;
    grid-template-rows: 24px 20px;
}

h3{
    color:rgb(61, 61, 105);
}

h4{
    color:rgba(172, 172, 238, 0.925);
}

h5{
    color:rgb(106, 106, 148);
}
.share{
    height:40px;
    width:40px;
    margin-left:130px;
    border-radius:100%;
    margin-top:15px;
    background-color: rgb(214, 214, 226);
}

.share img{
    height:20px;
    width:20px;
    align-items: center;
    padding:10px;
}


.subcontainer{
    display:grid;
    justify-content:space-evenly;
    height: 57px;
    grid-template-columns: 100px 45px 45px 55px;
    grid-area:"text square twitter pinterest";
    align-items:center;
    background-color:rgb(68, 74, 117);
    position:absolute;
    left:861px;
    bottom:355px;
    border-radius:15px;
    align-items:center;
    opacity:0;
}

.subcontainer div{
    height:max-height;
    margin-top:1px;
}


.text{
    margin-left:20px;
    letter-spacing: 3px;
    color: rgb(189, 189, 243);
    
}


.square{
    height:20px;
    width:20px;
    transform: rotate(45deg);
    background-color:rgb(68, 74, 117);
    margin-left:114px;
    margin-bottom:89px;
}

.share:hover{
    background-color:rgb(71, 76, 114);
}
.share:hover .subcontainer{
    background-color:rgb(71, 76, 114);
    opacity:1;
}
.share:hover img{
    filter:brightness(30);
}



    
